
#root {
  --main-color-from: #fdba74;     /* from-orange-300 */
  --main-color-to: #f97316;       /* to-orange-500 */
  --main-color-hover-from: #ea580c; /* from-orange-600 */
  --main-color-hover-to: #c2410c;
   --main-gradient-from: #50C577;
  --main-gradient-to: #2DBEFC;
}
.bg_button {
  background-image: linear-gradient(to bottom, var(--main-color-from), var(--main-color-to));
  color: white;
  font-weight: 500;
  border-radius: 9999px; /* tương đương rounded-full */
 transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.bg_button:hover {
  background-image: linear-gradient(to right, var(--main-color-to), var(--main-color-hover-to));
}
.bg_main{
  background-image: linear-gradient(to right, var(--main-gradient-from), var(--main-gradient-to));
}